* {
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: silver;
}
header {
    width: 100%;
    background-color: gray;
}
.img-responsive {
    display:block;
    margin:auto;
    width: 35%;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin:35px;
}
.menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li a {
    display: block;
    padding: 25px 35px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.menu li:hover {
    background: rgba(0,0,0,0.1);
}
.modelos ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.modelos li a {
    display: block;
    padding: 25px 35px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.modelos li:hover {
    background: rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    font-size: 20px;
    margin:10px;
}
h3 {
    text-align: center;
    font-size: 25px;
    margin:10px;
}
#cuerpo {
    width: 90%;
    border: 1px solid;
    padding: 15px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}
#table {
    width: 50%;
    float: left;
}
th {
    font-size: 15px;
}
#btn1 {
    padding: 8px;
    border-radius: 5px;
    background-color: aqua;
    border: none;
    margin-top: 15px;
    float: left;
    margin: 5px;
}
#graph {
    width: 45%;
    padding: 5px;
    float: right;
}
