{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {%block head%}
        <title>{%block title%}Investigación Operativa{%endblock%}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static '/img/utn.png' %}">
        {%endblock%}
    </head>

    <body>
        {%block content%}
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="https://simgraf-io.surge.sh/">Programacion Lineal</a></li>
                    <li><a href="https://www.google.com/">Programacion no Lineal</a></li>
                    <li><a href="http://127.0.0.1:8000/Redes/">Redes</a></li>
                    <li><a href="https://www.google.com/">Inventario</a></li>
                </ul>
            </nav>
        </header> 
        <div>
            <h1>TPI Investigación Operativa</h1>
            <img class="img-responsive" src="{% static '/img/imgIO.png'%}" alt="Imagen Principal">
            <hr/>
            <br/>
            <h3>Colaboradores: Redes</h3>
            <nav id="colaboradores">
                <ul>
                    <li><a href="https://github.com/NicolasDiazDuarte/" target="_blank">NDD</a></li>
                    <li><a href="https://github.com/marialujan019" target="_blank">ML</a></li>
                    <li><a href="https://github.com/SeleneRouvier" target="_blank">RS</a></li>
                    <li><a href="https://github.com/velazquezgreg/" target="_blank">VG</a></li>
                </ul>
            </nav>
        </div>   
        {%endblock%}
    </body>
</html>