{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {%block head%}
        <title>{%block title%}Redes / Algoritmo de la ruta más corta {%endblock%}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'utn.png' %}">
        {%endblock%}
    </head>
    <body>
        {%block content%}
        <header>
            <nav class="modelos">
                <ul>
                    <li><a href="http://127.0.0.1:8000/EM/">Algoritmo del Árbol de Extensión Mínima</a></li>
                    <li><a href="http://127.0.0.1:8000/RMC/">Problema de la ruta más Corta</a></li>
                    <li><a href="https://www.google.com/">Problema del Flujo Máximo</a></li>
                    <li><a href="https://www.google.com/">Problema del Flujo capacitado con costo mínimo</a></li>
                </ul>
            </nav>
        </header> 
        <br/>
        <h3>Problema de la ruta más Corta</h3>
        <section id="cuerpo">
            <div id="table">
                <table>
                    <thead>
                        <h2>Ingrese los datos en la siguiente tabla:</h2>
                    </thead>
                    <tbody>
                        <tr>
                            <form method="POST">
                                <div>
                                    {%csrf_token%} 
                                    <th>{{source.as_p}}</th>
                                    <th>{{target.as_p}}</th>
                                    <th>{{weight.as_p}}</th>
                                    {{arrNodoOrigen}}
                                    {{arrNodoDest}}
                                    {{arrPeso}}
                                    
                                    <button type="submit" id="btn1" value="Agregar">Agregar</button> 
                                </div>
                            </form>
                        </tr>
                    </tbody>
                </table>
                <div class="boton">
                    <button type="submit" id="btn2" value="Obtener resultado">Obtener resultado</button>
                </div>                
    
            </div>
            <div id="graph">
                <h2>El grafo correspondiente es:</h2>
            </div>
        </section>

        {%endblock%}
    </body>
</html>
