{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {%block head%}
        <title>{%block title%}Redes / Algoritmo de la ruta más corta {%endblock%}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'utn.png' %}">
        {%endblock%}
    </head>

    <body>
        {%block content%}
        <header>
            <nav class="modelos">
                <ul>
                    <a href="http://127.0.0.1:8000/"><img class="img-flecha" src="{% static '/img/flecha.png'%}" alt="flecha atras"></a>
                    <li><a href="http://127.0.0.1:8000/EM/">Algoritmo del Árbol de Extensión Mínima</a></li>
                    <li><a href="http://127.0.0.1:8000/RMC/">Problema de la ruta más Corta</a></li>
                    <li><a href="https://www.google.com/">Problema del Flujo Máximo</a></li>
                    <li><a href="https://www.google.com/">Problema del Flujo capacitado con costo mínimo</a></li>
                </ul>
            </nav>
        </header> 

        <br/>
        <h3>Problema de la Ruta más Corta</h3>
        <a id="btn2" href="http://127.0.0.1:8000/teoriaRMC/">Teoria</a>
        <section class="container">
            <div class="table">
                <div id="table1">
                    <h2>Ingrese la cantidad de relaciones que posee su ejercicio:</h2>
          
                    <form method="POST"> 
                        {%csrf_token%}
                        <div id="cantRelaciones">{{rows}}</div>
                        <br/>
                        <input type="submit" id="btn1" value="Generar tabla">
                    </form>
                </div>   
                <br/>
                <br/>
                <div id="table2">
                    <form method="POST">
                        <tr>
                            <th>Nodo Origen</th>
                            <th>Nodo Destino</th>
                            <th>Peso</th>
                        </tr>
                        <tr>

                        {%for i in rows %} 
                            <td>{{Nodos.source}}</td>
                            <td>{{Nodos.target}}</td>
                            <td>{{Nodos.weight}}</td>
                        {% empty %}
                            <p>No fue posible generar la tabla requerida.</p>
                        {% endfor %}

                        </tr>
                        {{nodos1}}
                        <br/>
                        <br/>
                        <input type="submit" id="btn1" value="Resolver ejercicio">
                    </form>
                </div>     
            </div>

            <div class="graph">
                <h2>El grafo correspondiente es:</h2>
            </div>

        </section>

        {%endblock%}
    </body>
</html>